.PagePage {
  padding-bottom: 64px;

  a,
  span{
    vertical-align: middle;
  }

  .resizable-box {
    position: relative;
  }

  .page-name {
    text-align: center;
  }
  .page-components,
  .preview-iframe {
    margin: 20px auto 0;
    width: 414px;
    height: 736px;
    overflow: auto;
    box-sizing: content-box;
    border-width: 30px 15px 60px 15px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 20px;
    .component {
      cursor: pointer;
      opacity: 0.5;
      outline: 1px solid lightblue;
      &.editing {
        opacity: 1;
        outline: 1px solid deepskyblue;
      }
    }
  }


  .all-components {
    .component {
      position: relative;
      outline: 1px solid pink;

      .add-component-btn-wrap {
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
      }

      &:hover {
        .add-component-btn-wrap {
          display: block;
        }
      }
    }
  }
}

.page-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #00bcd4;
  min-height: 64px;
  padding: 12px;

  & > div {
    margin-right: 10px;
  }
}


#editor-holder {
  overflow-y: auto;
}
