html, body {
  font-size: 10px;
}
.ComponentDevelopPage-container {

  .resizable-box {
    position: relative;
  }

  .component {
    position: relative;
    border: 1px solid lightblue;
    overflow-y: auto;
  }

}
#editor-holder {
  overflow-y: auto;
}
